* {
  font-family: "Inter", sans-serif;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;

  font-size: 2rem;
}

.bolded-name {
  padding-left: 8px;
}

.description {
  text-align: center;
  margin-top: 3rem;

  font-size: 2rem;
  font-style: italic;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 25rem;
}

.icons a {
  padding: 1rem;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (width <= 500px) {
  .intro {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1.5rem;
  }
}

@media (width <= 380px) {
  .intro {
    font-size: 1rem;
  }

  .description {
    font-size: 1rem;
  }
}
