* {
  font-family: "Inter", sans-serif;
}

.about-page-wrapper {
  height: auto;
  background-color: #f8f8f8;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
}

/* affects project and about titles */
.title-about {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 2rem;
  padding-top: 7rem;
}

.profile-circle {
   padding: 3rem;
}

.profile-circle img {
    border-radius: 50%;
}

.about-me {
  width: 50%;
  padding: 1rem;
  margin-left: 10rem;
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.8;
}

.about-me p {
  padding: 1rem;
}


@media (max-width: 1200px) {
  .about-page-wrapper {
    flex-direction: column;
    padding: 2rem 8rem;
    text-align: center;
  }

  .profile-circle {
    padding: 0;
  }

  .about-me {
    width: 100%;
    margin-left: 0;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .about-me p {
    padding: 0.75rem 0;
  }

  .profile-circle img {
    width: 200px;
    height: auto;
    margin-bottom: 1.5rem;
  }
}

