* {
  font-family: "miricle-mono", sans-serif;
}

.title-project
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding-top: 7rem;
  letter-spacing: 0.2em;
}
