* {
  font-family: "Inter", sans-serif;
}

.title-publications{
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 2rem;
  padding-top: 7rem;
}
