.skills {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  padding-top: 5rem;
  height: 35rem;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 5rem;
  font-size: 3rem;
  margin-top: 5rem;
}

@media (max-width: 1495px) {
  .skills {
    height: 45rem;
  }
}

@media (max-width: 500px) {
  .skills {
    height: 60rem;
  }
}
