* {
  font-family: "Inter", sans-serif;
}

.about-page-wrapper {
  height: 50rem;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* affects project and about titles */
.title {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 2rem;
  padding-top: 7rem;
}

.profile-circle {
   padding: 3rem;
}

.about-me {
  width: 60%;
  padding: 5rem;
  font-size: 1.5rem;
  text-align: center;
}

.about-me p {
  padding: 1rem;
}

