@font-face {
  font-family: 'miricle-mono';
  src: local('miricle-mono'), url('/fonts/miracle-mono.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


/* top margin when nav bar scrolls to a section*/
.section {
  scroll-margin-top: 90px;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-title h1 {
  color: #1a1814;
  font-size: 2rem;
  letter-spacing: 0.2em;
}

.section-title .title-underline {
  width: 60px;
  height: 2px;
  background-color: #f97316;
  margin-top: 0.5rem;
}
